:root {
  --bg: #0f0f0f;
  --card: #1c1c1c;
  --text: #ffffff;
  --border: #ffffff;
}

body.light {
  --bg: #f2f2f2;
  --card: #ffffff;
  --text: #111111;
  --border: #111111;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Tahoma, Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game {
  background: var(--card);
  padding: 25px;
  border-radius: 12px;
  width: 380px;
  text-align: center;
}

#question {
  margin-bottom: 15px;
  line-height: 1.8;
}

.letters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 15px;
}

.letters span {
  border-bottom: 2px solid var(--border);
  width: 25px;
  font-size: 20px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#message {
  margin-top: 10px;
  font-weight: bold;
}
